/*

!/.bash_aliases
!/.bash_logout
!/.bashrc
!/.profile
!/.xinitrc

!/.config
/.config/*
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.vim

!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs
!/.Xresources
!/bin/
/bin/*
!/bin/startxs
!/.gitignore
